:root {
    --primary: #ff9e3d;
    --bg: #f2f2f2;
    --text: #121212;
  }

body {
    font-family: 'Poppins', sans-serif;
}
  

.row .list-menu {
    margin-top: 20px;
    margin-right: 10px;
    min-height: 44.1rem;
}

.row .side-menu {
    background-color: var(--primary);
    padding-left: 7rem;
    padding-top: 2rem;
}

.row .side-menu h1 {
    font-weight: 800;
    margin-bottom: 3rem;
    font-size: 3.5rem;
}

.row .side-menu h5 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.row .side-menu h5 a {
    color: var(--text);
    text-decoration: none;
}
.row .side-menu h5 span {
    margin-right: 1rem;
    height: 50%;
    font-weight: 600;
    font-size: 2rem;
}

.menu {
    background-color: var(--bg);
    margin-bottom: 20px;
    padding: 1rem;
    padding-left: 2rem;
}

.menu .foto {
    background-color: rgb(58, 58, 58);
    width: 75px;
    height: 75px;
}

.menu .plus {
    margin: auto;
}

.menu .makanan {
    margin: auto;
}